.typing-animation {
    font-size: 4.0rem;
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    color: white;
}
  
.animation-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.typing-cursor {
    animation: blink 1s infinite;
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
